<div class="container" data-controller="modal">
  <div class="cycles-table">
    <div class="cycles-table__header">
      Choose cycle to share
    </div>
    <div class="cycles-table__content">
      <%= render @cycles %>
    </div>
  </div>

 </div>
